#preloader {
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 !important;
	position: absolute;
	z-index: 10000;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.collection-item.active{
	background-color: #ff6f00 !important;
}

.d-none {
	display: none !important;
}

.logo-img {
	max-height: 64px !important;
	width: auto;
	padding: 15px 0 !important;
}

.bold {
	font-weight: bold !important;
}

.semi-bold {
	font-weight: 400 !important;
}

/*
Sticky footer using flex box
Courtesy: https://css-tricks.com/couple-takes-sticky-footer/
 */
body {
	height: 100%;
	margin-bottom: 0 !important;
}

html{
	height: 100%;
}

body {
	display: flex !important;
	flex-direction: column;
	padding-bottom: 0 !important;
}

.content {
	flex: 1 0 auto;
}

@media (min-width: 992px) {
	.content, footer{
        margin-left: 300px !important;
    }
}

#search_box{
height: 32px !important;
margin: 0 !important;
border: none !important;
}

#search_box:focus{
	border-bottom: none !important;
}

#search_box.active{
	border-bottom: none !important;
}

#search_btn{
	height: 32px !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

#search_box::-webkit-input-placeholder, #search_box::-moz-placeholder, #search_box:-ms-input-placeholder , #search_box:-moz-placeholder{
	color: white;
}

.center-all{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* label color */
.input-field label {
	color: #000;
}
/* label focus color */
.input-field .materialize-textarea:focus + label,
.input-field input[type=url]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
	color: #ff6f00 !important;
}
/* label underline focus color */
.input-field .materialize-textarea:focus,
.input-field input[type=url]:focus,
.input-field input[type=text]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
	border-bottom: 1px solid #ff6f00 !important;
	box-shadow: 0 1px 0 0 #ff6f00 !important;
	color: #000000 !important;
}
/* valid color */
.input-field .materialize-textarea.valid,
.input-field input[type=url].valid,
.input-field input[type=text].valid,
.input-field input[type=tel].valid,
.input-field input[type=number].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid {
	border-bottom: 1px solid #ff6f00 !important;;
	box-shadow: 0 1px 0 0 #ff6f00 !important;
	color: #000000 !important;
}
/* invalid color */
.input-field .materialize-textarea.invalid,
.input-field input[type=url].invalid,
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid,
.input-field input[type=number].invalid,
.input-field input[type=tel].invalid  {
	border-bottom: 1px solid #ff0000 !important;;
	box-shadow: 0 1px 0 0 #ff0000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #000 !important;
}


@media (min-width: 701px) {
	.profile-sm-md {
		width: 140px;
	}
}

@media (max-width: 700px) {
	.profile-sm-md {
		width: 120px;
	}
}

@media (max-width: 600px) {
	.profile-sm-md {
		width: 100px;
	}
}

@media (max-width: 500px) {
	.profile-sm-md {
		width: 80px;
	}
}

.profile-sm-md {
	height: auto;
}

.ul{
	text-decoration: underline !important;
}

a.btn{
	margin-bottom: 3px !important;
}

/*
Empty classes just so they can be suggested by the ide
 */

.company_name,
.company_balance,
.campaign_name,
.campaign_code,
.company_logged{

}